nav {
    background: #021222;
    height: 80px;
    position: relative;
    width: 100%;
}

.container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
    z-index: 100;
}

.links .link {
    display: inline-block;
}

.links .link a {
    text-decoration: none;
    color: #d1faf4;
    font-size: 20px;
    margin: 0 25px;
    letter-spacing: 3px;
    transition: .3s;
}

.links .link a:hover {
    color: #487abb;
}
