* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #8dd6cb;
}


body {
  background: #092236;
  /* overflow: hidden; */
}

.container-light {
  background-color: white;
  width: 100%;
  overflow: scroll;
}